[
  {"name": "__Secure-1PSID", "value": "YOUR_SECURE_1PSID_VALUE_HERE"},
  {"name": "__Secure-1PSIDTS", "value": "YOUR_SECURE_1PSIDTS_VALUE_HERE"},
  {"name": "__Secure-1PSIDCC", "value": "YOUR_SECURE_1PSIDCC_VALUE_HERE"}
]
